:root {
	--answer-correct-color: #3c7f65;
	--answer-wrong-color: #CB4A64;
	--evaluation-head-height: 4.5em;
}
html, body {
	height: 100%;
}

.question-container {
	padding-top: 1em;
	padding-bottom: 3em;
}

.question {
	font-weight: bold;
	font-size: 1.5em;
}

.option {
	min-width: 100px;
	min-height: 50px;
	border-radius: 25px;
	border-color: lightgray;
	border-width: 0.2em;
	padding: 1em 2em;
	margin: 0 1em;

	cursor: pointer;
}

.unchosen {
	transition: all 0.15s;
	border-style: solid;
	opacity: 0.7;
}

.chosen {
	transition: all 0.15s;
	border-style: solid;
	border-color: var(--bs-primary);
	opacity: 1;
	border-width: 0.3em;
	font-weight: bold;
	padding: 0.9em 1.9em;
}

.option.chosen.wrong {
	background-color: var(--answer-wrong-color);
	border-color: #f05c6c;
	color: white;
}

.option.chosen.correct {
	background-color: var(--answer-correct-color);
	border-color: darkgreen;
	color: white;
}

.text {
	font-weight: bold;
	font-size: 16px;
	/*line-height: 24px;*/
	color: #636363; /*#0000ff;*/
	text-align: center;
}

.next-container {
	position: fixed;
	bottom: 3em;
}

.next-container #next {
	margin: 0 auto;
}

.min-height {
	min-height: 3em;
}

#evaluate {
	margin: 0 auto;
}

#evaluation-container {
	height: 30%;
	width: 100%;

	position: fixed;
	bottom: 0;
}

#evaluation-container.expanded {
	height: 70%;
}

#evaluation-container #evaluation-message-head {
	color: white;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	height: var(--evaluation-head-height);

	cursor: pointer;
}

#evaluation-container.correct #evaluation-message-head {
	background-color: var(--answer-correct-color);
}

#evaluation-container.wrong #evaluation-message-head {
	background-color: var(--answer-wrong-color);
}

#evaluation-container #evaluation-message-body {
	background-color: white;
	height: calc(100% - var(--evaluation-head-height));
	padding: 1em;
}

#evaluation-container .icon {
	font-size: 3em;
}

#evaluation-container.correct .icon::after {
	content: "☺";
}

#evaluation-container.wrong .icon::after {
	content: "☹";
}

#evaluation-container #expand, #evaluation-container #collapse {
	color: white;
	font-size: 1.8em;
	text-decoration: none;
}

#evaluation-container #explanation {
	max-height: 300px;
	overflow-y: auto;
}

#progress-bar {
	margin: 0 1em;
}

.progress-bar.in-progress {
	background-color: grey;
}

.progress-bar.correct {
	background-color: var(--answer-correct-color);
}

.progress-bar.wrong {
	background-color: var(--answer-wrong-color);
}

#final-result {
	height: 60%;
}
